body{
  background-color: black;
}

.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom right, white, black 30%);
  opacity : 0.9;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-family : Metal Mania;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: red;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.intro .background{
  background-image: -webkit-linear-gradient(top, #0CB8E6, rgba(255,255,255,0));
  background-image: -moz-linear-gradient(top, #0CB8E6, rgba(255,255,255,0));
  background-image: -ms-linear-gradient(top, #0CB8E6, rgba(255,255,255,0));
  background-image: -o-linear-gradient(top, #0CB8E6, rgba(255,255,255,0));
  background-image: linear-gradient(to bottom, #0CB8E6, rgba(255,255,255,0));
}

.intro h1{
  margin:0 auto;
  font-size: 75px;
  font-family: Arial;
  color: white;
  text-shadow: 1px 5px 3px grey;
  text-align : center;
  padding-bottom: 10px;
}

.parallax-container {
  height: 500px;
}

.parallax-container .section_white{

}

.row_container{
  height: 400px;
}

.row_container h2{
 text-align: center;
 font-size: 25px;
 text-shadow: 1px 2px 2px grey;
}

.profile{
  margin-left: 10%;
  margin-top: 10%;
  border : 1px solid black;
  border-top-left-radius:25%;
  border-top-right-radius:25%;
  border-bottom-left-radius:25%;
  border-bottom-right-radius:25%;
  background: url("../img/background.jpg")
}

.profile a{
  margin-left : 70%;
}

.profile .logo{
  display: flex;
  flex-direction: row;
  height :100px;
  width :150px;
}

.project p{
  text-align:center;
  font-size: 18px;
  color : white;
}

.whitecol{
  border-left: 1px solid white;
}

.section_white{
  border-top: 1rem;
  border-bottom: 1rem;
  background-color: white;
}

.row_container{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin: 0 auto;
  max-width: 1280px;
}

.project_deco .backgroundcol{
  background-image : url("../img/backgroundcol.jpg");
  height : 300px;
}

.project_deco .sidecol1{
  background: linear-gradient(to bottom right, blue, white);
  height : 300px;
}

.project_deco .sidecol2{
  background: linear-gradient(to bottom left, blue, white);
  height : 300px;
}

.cutline{
    height : 20px;
    width : 100%;
    background-image: linear-gradient(to top, black, #0CB8E6, skyblue);
}
