body{
  background-color: white;
}

.intro .background{
  background-color : grey;
}

.intro h1{
  font-size: 75px;
  font-family: Arial;
  color: white;
  text-shadow: 1px 5px 3px black;
  text-align : center;
  padding-bottom: 10px;
}

.parallax-container {
   height: "500px";
   background-image: url("../img/gaming_campus.jpg")
 }
